<template>
    <ion-content :color="!!+modo ? 'dark':'light'">
        <ion-list>
            <ion-item :color="!!+modo ? 'dark':'light'">
                <ion-label>Todas las tareas</ion-label>
                <ion-toggle @click="getConfig(0)" :color="!!+modo ? 'danger':'primary'"
                 :checked="!!+ver ? 'false' : 'true'"></ion-toggle>
            </ion-item>

            <ion-item :color="!!+modo ? 'dark':'light'">
                <ion-label>Modo Oscuro</ion-label>
                <ion-toggle @click="presentAlert()" :color="!!+modo ? 'danger':'primary'"
                 :checked="!!+modo"></ion-toggle>
            </ion-item>
        </ion-list>
    </ion-content>
</template>
<script>
    export default {
        data () {
            return {
                ver: 0,
                valor: 0,
                modo: 0,
            }
        },
        mounted(){
            this.ver = localStorage.getItem('see')
            this.modo = localStorage.getItem('mode')
                    this.valor = this.ver
        },
        methods:{
            getConfig(id){
                if(id == 0)
                {
                    if (this.valor == 1) {
                        localStorage.setItem('see', '0');
                        this.valor = 0;
                    }
                    else {
                        localStorage.setItem('see', '1');
                        this.valor = 1;
                    }
                }
                else if (id == 1) {
                    if (this.modo == 1) {
                        localStorage.setItem('mode', '0');
                    }
                    else {
                        localStorage.setItem('mode', '1');
                    }
                    location.reload()
                }
            },

            presentAlert() {
                return this.$ionic.alertController
                    .create({
                        mode: 'ios',
                        header: 'Modo Oscuro',
                        message: 'Se reiniciara la app',
                        buttons: [
                            {
                            text: 'Okey',
                            handler: () => {
                                    this.getConfig(1)
                                },
                            }/*,
                            {
                            text: 'Cancelar',
                            handler: () => {
                                },
                            },*/
                        ],
                    })
                .then(a => a.present())
            },
        }
    }
</script>
