<template>
    <ion-content :color="!!+modo ? 'dark':'light'">
        <ion-list>
            <ion-item-sliding  v-for="entry in taskx" :key="entry.id_task">
                <ion-item :color="!!+modo ? 'dark':'light'" lines="none">

                    <ion-item :color="!!+modo ? 'dark':'light'" lines="none">
                        <font-awesome-icon icon="trash-alt" color="red" style="font-size: 25px" v-if="elim == true"
                        @click="deleteTask(entry.id)" />
                        <ion-checkbox mode="ios"  :color="!!+modo ? 'danger':'primary'" :checked="!!+entry.status"
                        @click="changeTask(entry.status,entry.id)" v-if="elim == false"></ion-checkbox>
                    </ion-item>

                    <ion-item :color="!!+modo ? 'dark':'light'"
                    @click="openModal('Modificar Tarea',entry.task,entry.id,entry.fecha)">
                        <div class="tarea">
                            <ion-label>
                                {{entry.task}}
                            </ion-label>
                        </div>
                    </ion-item>

                    <ion-item slot="end" :color="!!+modo ? 'dark':'light'" lines="none">
                        <div v-if="entry.fav != 2 && elim == false">
                            <font-awesome-icon icon="star" :color="[!!+entry.fav ? 'yellow':'grey']" style="font-size: 30px" @click="changeFav(entry.fav,entry.id)" />
                        </div>
                        <div v-if="entry.fav == 2 && elim == false">
                            <font-awesome-icon icon="heart" color="red" style="font-size: 30px" @click="changeFav(entry.fav,entry.id)" />
                        </div>
                    </ion-item>

                </ion-item>

                <ion-item-options side="start">
                    <ion-item-option @click="deleteTask(entry.id)" :color="!!+modo ? 'dark':'light'">
                        <font-awesome-icon icon="trash-alt" color="red" style="font-size: 25px"/>
                    </ion-item-option>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-fab mode="ios" vertical="bottom" horizontal="end" slot="fixed" v-if="elim==true">
            <ion-fab-button color="danger" @click="elim=false">
                <font-awesome-icon icon="times" />
            </ion-fab-button>
        </ion-fab>
        <ion-fab mode="ios" vertical="bottom" horizontal="end" slot="fixed"
         :style="{display: elim ? 'none':''}">
            <ion-fab-button :color="!!+modo ? 'light':'dark'">
                <font-awesome-icon icon="bars" />
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button color="primary" @click="elim=false,openModal('Agregar Tarea','',0)">
                    <font-awesome-icon  icon="plus"/>
                </ion-fab-button>
                <ion-fab-button color="danger" @click="elim=true">
                    <font-awesome-icon  icon="trash-alt"/>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>
    </ion-content>
</template>

<script>
    // @ is an alias to /src
    import HelloWorld from '@/components/HelloWorld.vue'
    //import axios from 'axios'

    export default {
        name: 'home',
        data(){
            return {
                taskx:[],
                conta: 0,
                elim: false,
                ver: 0,
                modo: 0,
            }
        },
        mounted() {
            this.tablas()
            this.ver = localStorage.getItem('see')
            this.modo = localStorage.getItem('mode')
            let ultimo = localStorage.getItem("ultimo")
            if(this.ver == null){
                localStorage.setItem("see",0)
                this.ver = localStorage.getItem('see')
            }
            if(this.modo == null){
                localStorage.setItem("modo",0)
                this.modo = localStorage.getItem('mode')
            }
            if(ultimo == null){
                localStorage.setItem("ultimo",0)
            }
            this.getTask();
			//console.log(this.$router.history.current.name)
        },
        methods: {
            tablas(){
                /*let ups = localStorage.getItem('status')
                if (ups == '1') {
                }
                else {*/
                    var db = null
                    db = this.conexion();
                    if(db!=null){
                        db.transaction(function (tx) {  
                            tx.executeSql('CREATE TABLE IF NOT EXISTS tasks ("id_task"	INTEGER PRIMARY KEY AUTOINCREMENT UNIQUE,"task"	TEXT, "status" INTEGER, "fav" INTEGER)'); 
                            tx.executeSql('ALTER TABLE tasks add column fecha varchar(100)');
                        });
                        
                    }
                    else{
                        console.log("error al abrir la base");
                        alert("error al conectar a la base")
                    }
                //}
            },
            async openModal(titulo,valor='',id=0,fecha=0) {
                this.elim = false;
                const modal = await this.$ionic.modalController.create({
                component: HelloWorld,
                
                componentProps: {
                    data: {
                        task: valor,
                        id: id,
                        valor: fecha,
                        ultimo: localStorage.getItem("ultimo"),
                    },
                    propsData: {
                        title: titulo,
                    },
                },
                });
                modal.present();
                const { data } = await modal.onDidDismiss();
                //console.log(data.result);
                if (data.result == 1){
                    this.getTask();
                }
            },
            //Conexion a la base local
            conexion(){
                let db = null;
                //db = window.sqlitePlugin.openDatabase({name: 'sample.db', location: 'default'});
                db = window.openDatabase('sample.db',1,'conlet',2 * 1024 * 1024);
                return db;
            },
            getTask(){
                var db = null;
                let variable = new Array();
                var sql = "";
                if (this.ver == 0) {
                    sql = "SELECT id_task as 'id',task, status, fav, fecha FROM tasks order by status asc, fav desc, task asc "
                }
                else if (this.ver == 1) {
                    sql = "SELECT id_task as 'id',task, status, fav, fecha FROM tasks where status = '0' order by status asc, fav desc, task asc "
                 
                }
                db = this.conexion();
                if(db != null){
                    db.transaction(function (tx) {

                        tx.executeSql(sql, [], function (tx, result) {
                            
                            for (let i = 0; i < result.rows.length; i++) {
                                var jeje = {id:result.rows.item(i).id, task:result.rows.item(i).task, status:result.rows.item(i).status, fav:result.rows.item(i).fav, fecha:result.rows.item(i).fecha}
                                variable.push(jeje)
                                if(parseInt(localStorage.getItem("ultimo")) < parseInt(result.rows.item(i).id)){
                                    localStorage.setItem("ultimo",result.rows.item(i).id)
                                }
                            }

                        }, function (error) {
                            console.log("error = "+error);
                        });
                    });
                }
                else{
                    console.log("error al abrir la base");
                }
                this.taskx = variable;
            },
            changeTask(t,id=0){

                var db = null;
                db = this.conexion();
                if(db != null){
                    if(t==1){
                        db.transaction(function (tx) {
                            tx.executeSql("Update tasks set status = 0 where id_task="+id);
                        });
                    }
                    if(t==0){
                        db.transaction(function (tx) {
                            tx.executeSql("Update tasks set status = 1 where id_task="+id);
                        });
                    }
                    this.getTask();
                }
            },
            changeFav(t,id=0){

                var db = null;
                db = this.conexion();
                if(db != null){
                    if(t==2){
                        db.transaction(function (tx) {
                            tx.executeSql("Update tasks set fav = 0 where id_task="+id);
                        });
                        this.getTask();
                    }
                    if(t==1){
                        db.transaction(function (tx) {
                            tx.executeSql("Update tasks set fav = 2 where id_task="+id);
                        });
                        this.getTask();
                    }
                    if(t==0){
                        db.transaction(function (tx) {
                            tx.executeSql("Update tasks set fav = 1 where id_task="+id);
                        });
                        this.getTask();
                    }
                }
            },
            deleteTask(id=0){

                var db = null;
                db = this.conexion();
                if(db != null){
                    db.transaction(function (tx) {
                        tx.executeSql("Delete from tasks where id_task="+id);
                    });
                    cordova.plugins.notification.local.cancel(id, function () {
                        console.log('Borrada');
                    },function(err){
                        alert('error')
                    });
                    this.getTask();
                }
            }
        },
    }
</script>
<style scoped>
    
    .tarea{
        width: 50vw;
    }
</style>

