<template>
    <div>
        <ion-header>
            <ion-toolbar mode='ios' :color="!!+dark ? 'dark': 'light'">
                <ion-title>{{ title }}</ion-title>
                <ion-buttons slot="end">
                    <ion-button @click="cerrar(0)">
                       <font-awesome-icon icon="times" />
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <ion-content :color="!!+dark ? 'dark': 'light'">
            <ion-card class="input-carta" :color="!!+dark ? 'dark': 'light'">
                <ion-textarea rows="6" placeholder="Ingrese nueva tarea" :value="task" @input="task = $event.target.value"></ion-textarea>
                <!--<ion-input></ion-input>-->

                <ion-item :color="!!+dark ? 'dark':'light'">
                    <ion-label>Alarma</ion-label>
                    <ion-toggle @ionChange="alert=!alert" :color="!!+dark ? 'danger':'primary'"
                     :checked="alert ? 'true' : 'false'"></ion-toggle>
                </ion-item>
                <ion-item :color="!!+dark ? 'dark':'light'" v-if="alert">
                    <ion-datetime display-format="MMM DD, YYYY HH:mm"
                    :value="valor" @ionChange="valore"></ion-datetime>
                </ion-item>
            </ion-card>
            <ion-button mode="ios" :color="estado ? 'secondary' : 'primary'" expand="block" fill="outline" @click="setTask(estado, task,id,valor)">
                {{ estado ? 'Editar' : 'Agregar'}}
                <!--<font-awesome-icon icon="plus" v-if="estado == 0"/>
                <font-awesome-icon icon="edit" v-if="estado == 1"/>
                <font-awesome-icon icon="trash-alt" />-->
            </ion-button>
            <ion-button mode="ios" color="danger" expand="block" fill="outline" @click="setTask(2, task,id,valor)" v-if="estado == 1">
                Borrar
            </ion-button>
        </ion-content>
    </div>
</template>

<script>
    import axios from "axios";
    export default {
        name: 'Modal',
        props: {
            title: { type: String, default: 'Super Modal' },
        },
        data() {
            return {
                valor: new Date(),
                modificar: false,
                task: '',
                id: 0,
                estado: 0,
                dark: 0,
                alert: false,
                ultimo: 0,
            }
        },
        mounted(){
			this.dark = localStorage.getItem('mode')
            if (this.id > 0) {
                this.estado = 1

                if(this.valor == 0 || this.valor == ''){
                    this.valor = new Date()
                }
                else{
                    this.alert = true;
                    //console.log('cambio')
                }
            }
            else{
                this.valor = new Date()
                if(this.ultimo > 0){
                }
                else {
                    this.ultimo = 0
                }
                this.id = parseInt(this.ultimo);
                this.id++
                console.log(this.id)
            }
        },
        methods:{
            cambiar(){
                this.alert = !this.alert
                //console.log(this.alert)
            },
            valore(val){
                this.valor = new Date(val.detail.value)
            },
            cerrar(valor){
                    this.$ionic.modalController.dismiss({'result': valor});
            },
            conexion(){
                let db = null;
                //db = window.sqlitePlugin.openDatabase({name: 'sample.db', location: 'default'});
                db = window.openDatabase('sample.db',1,'conlet',2 * 1024 * 1024);
                return db;
            },
            setTask(modi, t="",id=0,fecha){
                //alert(this.valor)
                if(this.alert== true && modi == 1){
                    //El unico cambio
                    /*cordova.plugins.notification.local.cancel(id, function () {
                        console.log('Borrada modificado');
                    },function(err){
                        alert('error')
                    });*/
                    cordova.plugins.notification.local.schedule({
                        id: id,
                        title: 'Tarea:',
                        text: t,
                        firstAt: new Date(this.valor) 
                    });
                }
                if(this.alert== true && modi == 0){
                    cordova.plugins.notification.local.schedule({
                        id: id,
                        title: 'Tarea:',
                        text: t,
                        firstAt: new Date(this.valor) 
                    });
                }
                if(this.alert == false && this.valor != 0 || modi == 2){
                    cordova.plugins.notification.local.cancel(id, function () {
                        console.log('Borrada: '+id);
                    },function(err){
                        alert('error')
                    });
                }
                //console.log(new Date(this.valor))
                if(this.alert == false){
                    fecha = 0
                }
                var data = {}
                var ff = /^([ ])+$/;
                if(!ff.test(t)){

                    var db = null;
                    db = this.conexion();
                    if(db != null){
                        if(modi==0){
                            db.transaction(function (tx) {
                                tx.executeSql('INSERT INTO tasks VALUES (null, "'+t+'",0,0,"'+fecha+'")');
                            });
                            this.cerrar(1)
                        }
                        if(modi==1){
                            db.transaction(function (tx) {
                                tx.executeSql("Update tasks set task='"+t+"', fecha = '"+fecha+"' where id_task="+id);
                            });
                            this.cerrar(1)
                        }
                        if(modi==2){
                            db.transaction(function (tx) {
                                tx.executeSql("Delete from tasks where id_task="+id);
                            });
                            this.cerrar(1)
                        }
                    }
                }
            }
        }
    }
</script>
<style scoped>
    .input-carta{
        height: 250px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
    }
</style>
