<template>
	<div id="app">
		<ion-app>
			<!--
				Menu de navegacion
			-->
			<ion-menu side="start" mode="md">
				<ion-header>
					<ion-toolbar :color="!!+dark ? 'dark': 'light'">
						<ion-title>Menu</ion-title>
					</ion-toolbar>
				</ion-header>
				<ion-content :color="!!+dark ? 'dark': 'light'">
					<ion-list>


						<ion-item :color="estado ? !!+dark ? 'light' : 'dark' : !!+dark ? 'dark' : 'light'"
						@click="pasar('home'), estado = true">
							<font-awesome-icon icon="tasks" slot="end"/>
							<ion-label>
								Tareas
							</ion-label>
						</ion-item>


						<ion-item :color="estado ? !!+dark ? 'dark' : 'light' : !!+dark ? 'light' : 'dark'"
						@click="pasar('config'), estado = false">
							<font-awesome-icon icon="cog" slot="end"/>
							<ion-label>
								Ajustes
							</ion-label>
						</ion-item>


					</ion-list>
				</ion-content>
			</ion-menu>
  
			<!--Contenido-->

  			<div class="ion-page" main>
				<ion-header mode="ios">
					<ion-toolbar mode="ios" :color="!!+dark ? 'dark': 'light'">
						<ion-buttons slot="start">
							<ion-button @click="openStart()">
								<font-awesome-icon icon="bars"/>
							</ion-button>
						</ion-buttons>
						<ion-title>Cónlet</ion-title>
					</ion-toolbar>
				</ion-header>
				<ion-content :color="!!+dark ? 'dark': 'light'">
					<!--<ion-refresher slot="fixed" @ionRefresh="doRefresh($event)">
						<ion-refresher-content
							pulling-text="Pull to refresh"
							refreshing-text="Refreshing...">
						</ion-refresher-content>
					</ion-refresher>-->
					<router-view/>
				</ion-content>
			</div>
		</ion-app>
    	<ion-menu-controller></ion-menu-controller>
	</div>
</template>
<script>
    export default {
        data(){
            return {
				dark: 0,
				estado: false,
            }
		},
		mounted(){
			/*cordova.plugins.notification.local.hasPermission(function (granted) {
				 console.log('Permission has been granted: ' + granted);
			});*/
			this.dark = localStorage.getItem('mode')
			if (this.$router.history.current.name == 'home') {
				this.estado = true; 
			}
			else if (this.$router.history.current.name == 'config') {
				this.estado = false; 
			}
		},
        methods:{
			prueba(){

			},
			pasar(url){
				this.$router.push({
					name: url,
				})
				document.querySelector('ion-menu-controller').close()
			},
			openStart () {
				document.querySelector('ion-menu-controller').open('start')
			},
            /*doRefresh(event) {
                console.log('Begin async operation');

                setTimeout(() => {
					this.dark = localStorage.getItem('mode')
                    event.target.complete();
                }, 2000);
			}*/
        }
    }
</script>
<style>
    .list-md, .list-ios{
        background: transparent;
    }
</style>


						
